{% extends 'main/base.html' %}
{% block title %}
  Password changing
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h1 style="text-align: center;" class="m-5">Change your password:</h1>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Done</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
